a {
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: $black;
  /*color: #6e0000;*/
  max-width: 150px;
  margin-top: -5px;
  margin-bottom: 5px;
  @include atSmall {
    margin-top: 5px;
    font-size: 18px;
  }
}

@media (width: 1366px) and (height: 1024px) {
	 .nav a {
		 line-height: 50px;
     vertical-align: middle;
		 font-size: 2.0rem;
    /* margin-top: 2px;*/
     margin-bottom: 5px;
     margin-top: -5px;
    /* vertical-align: middle;*/
	}
}

@media (width: 800px) and (height: 600px) {
	 .nav a {
     display: block;
  /*   margin: -5px auto 5px auto;*/
		 line-height: 50px;
		 font-size: .85rem;
     margin-left: auto;
	}
  .navbar-right li {
    left: -10px;
  }
}
