.carousel-pentland {
	width: 100%;
	height:100%;
	background-size: cover;
	background-color: $black;
}

.carousel, .item, .active {
	height: 100%;
	width: 100%;
	background-position: center;
}

.carousel .item img {
	height: 70%;
	max-height: 100%;
	@include atSmall {
		min-height: 100%;
		max-height: 100%;
		top: 0px;
	}
}

.carousel-inner {
	position: relative;
	top: 60px;
	width: 100%;
	height: 70%;
	/*min-height: 100%;*/
  /*min-height: 768px !important;*/
	margin-top: 0px;
	margin-bottom: 0;
	//margin:auto;
	background-position: center;
	@include atSmall {
		min-height: 90%;

	}


}
.carousel-indicators {
	width: 100%;
	margin-left: 0;
	left: 0;
	bottom: -30px;
	@include atSmall {
		bottom: 5px;
	}
}

.carousel .left.carousel-control .right.carousel-control {
	height: 100%;
}
/* fade on slider */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.glyphicon {
	top: 15px;
	margin-bottom: 20px;
	font-size: 2.5rem;
	@include atSmall {
		margin-bottom: 55px;
		top: 0px;
	}


	&-star-empty {
		margin-bottom: 0px;

		@include atSmall {
			margin-bottom: 50px;
		}
	}
}

.carousel-caption {
	bottom: -30px;
}

ol {
	margin-bottom: 40px;
	@include atSmall {
		margin-bottom: 60px;
	}

}
