.thumbnail {
 //-moz-max-height: 256px;
//  -webkit-max-height: 256px;
//  max-height: 256px;
  opacity: 0;
  display: inline-block;
  max-height: auto;
  -webkit-max-height: auto;
  position:relative;
  margin-top: 10px;
  margin-bottom: 20px;
  //margin-left: 10px;
  max-width: 100%;
  padding: 0px;
  top: 60px;
  left: 5px;
  bottom: 0px;
  border:2px solid white;
  float:none;
  box-sizing:border-box;
}

//.thumbnail2 {
//  opacity: 1;
//  border: 3px solid $white;
//  position: relative;
//  max-width: 100%;
//  padding-top: 0px;
//  float: right;
//  top: 80px;
//  background-color: $black;
//  color: $white;
//  margin-bottom: 30px;
//}
