@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0
  /*webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000039}}
html, body {
  height: 100%;
  width: 100%;
  outline: 0px;
  border: 0px;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: black;
  font-family: 'Amatic SC', cursive;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000322}}
h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  color: #fff;
  max-width: 100%;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000331}}
img {
  -moz-min-height: 100%;
  -moz-min-width: 100%;
  -moz-max-height: 100%;
  -moz-max-width: 100%;
  -webkit-min-height: 100%;
  -webkit-min-width: 100%;
  -webkit-max-height: 100%;
  -webkit-max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
#bs.nav-nav-demo {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\000035}}
button.navbar-toggle.collapsed {
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000310}}
.navbar-brand {
  margin-bottom: 15px;
  padding: 10px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000316}}
.nav-navbar-nav {
  position: fixed;
  width: 80%;
  height: 50px;
  color: #6e0000;
  text-align: center;
  background-color: #000;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000329}}
.navbar-inverse {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000333}}
.navbar-fixed-top {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000337}}
.navbar.navbar-inverse .nav {
  margin: auto;
  width: 85%;
  background-color: #000;
}

@media (width: 800px) and (height: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000344}}
  .navbar.navbar-inverse .nav li {
    padding-left: 20px;
    font-size: 2.5rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000350}}
.navbar-header {
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000357}}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #000;
}

/*@media (min-width: 768px) and (max-width: 1000px){*/
/*.collapse {*/
/*display: none !important;*/
/*}*/
/*.navbar-brand {*/
/*  font-size: 12px;*/
/*  }*/
/*}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000374}}
.collapse-navbar-collapse {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000379}}
.navbar.navbar-inverse .nav > li {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 1;
  top: 10px;
}

/*.navbar-right {*/
/*  margin: auto;*/
/*}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000397}}
.navbar.navbar-inverse nav > li > a {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*float: left;*/
  text-align: center;
  margin: auto;
}

@media (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003108}}
  .nav {
    left: 5px;
    /*display: block;*/
    /*float: left;*/
    background-color: #000;
    margin-left: 0px;
    margin-right: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003116}}
  .nav li {
    position: relative;
    left: 0px;
  }
}
@media (max-width: 414px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003124}}
  .nav {
    left: 5px;
    display: block;
    float: left;
    background-color: #000;
    margin-left: 0px;
    margin-right: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003132}}
  .nav li {
    position: relative;
    left: 0px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003139}}
  .navbar-brand {
    width: 50px;
    text-align: center;
    font-size: 12px !important;
    margin-right: 30px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003145}}
  .nav .navbar-right {
    float: none;
  }

  /*.nav {*/
  /*  float: right !important;*/
  /*}*/
}
@media (min-width: 1920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003154}}
  .nav .navbar-nav .navbar-right {
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 2.25rem !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003160}}
  .navbar-brand li a {
    margin-top: 5px;
  }

  /*.nav {*/
  /*  float: right !important;*/
  /*}*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\000031}}
.carousel-pentland {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\000038}}
.carousel, .item, .active {
  height: 100%;
  width: 100%;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000314}}
.carousel .item img {
  min-height: 70%;
  max-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000319}}
.carousel-inner {
  width: 100%;
  /*min-height: 100%;*/
  /*min-height: 768px !important;*/
  margin-top: 0px;
  margin: auto;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000327}}
.carousel-indicators {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000331}}
.carousel .left.carousel-control .right.carousel-control {
  height: 100%;
}

/* fade on slider */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000335}}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000340}}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000343}}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000349}}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000353}}
.carousel-fade .carousel-control {
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000357}}
.glyphicon {
  margin-bottom: -10px;
  font-size: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_thumbnail\.scss}line{font-family:\000031}}
.thumbnail {
  /*-moz-max-height: 256px;*/
  /*  -webkit-max-height: 256px;*/
  /*  max-height: 256px;*/
  opacity: 0;
  display: inline-block;
  -webkit-max-height: auto;
  position: relative;
  margin-top: 10px;
  /*margin-left: 10px;*/
  max-width: 100%;
  padding: 0px;
  top: 60px;
  left: 5px;
  bottom: 0px;
  border: 2px solid white;
  float: none;
  box-sizing: border-box;
}

/*.thumbnail2 {*/
/*  opacity: 1;*/
/*  border: 3px solid $white;*/
/*  position: relative;*/
/*  max-width: 100%;*/
/*  padding-top: 0px;*/
/*  float: right;*/
/*  top: 80px;*/
/*  background-color: $black;*/
/*  color: $white;*/
/*  margin-bottom: 30px;*/
/*}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\000031}}
.titles {
  /*margin-top: auto;*/
  /*overflow-y: none;*/
  background-color: #000;
  /*background-size: contain;*/
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000313}}
.titles2 {
  font-size: .5rem;
  background-color: #fff;
  color: #000;
  width: 100%;
  position: relative;
  /*	bottom: -80px;*/
  /*	left: 10px;*/
  top: 70px;
  opacity: 0.70;
  padding: 5px;
  margin: 0 auto 20px auto;
  border: 2px solid #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000329}}
.titles3, .titles4 {
  background-color: #fff;
  color: #000;
  font-weight: 100;
  width: 100%;
  height: auto;
  position: relative;
  top: 500px;
  opacity: 0.70;
  padding: 5px;
  margin: 0 auto 20px auto;
  border: 2px solid #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000343}}
.titles4 {
  top: 600px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000347}}
.titles5 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000354}}
.titles5 p {
  font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 568px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000360}}
  .titles3 {
    top: 170px;
    font-size: medium;
  }
}
@media (min-width: 799px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000369}}
  .titles3 {
    top: 400px;
    font-size: medium;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000376}}
  .titles3 {
    top: 600px;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000383}}
  .titles3 {
    top: 900px;
    font-size: 3.5em;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000391}}
  .titles4 {
    top: 320px
    /*font-size: .5rem;*/
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000395}}
  .titles4 h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 414px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003101}}
  .titles4 {
    top: 360px
    /*font-size: .5rem;*/
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003105}}
  .titles4 h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 799px) and (max-width: 1365px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003111}}
  .titles4 {
    top: 380px
    /*font-size: .5rem;*/
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003115}}
  .titles4 h2 {
    font-size: 2rem;
  }
}
/*@media screen and (min-width: 414px) and (max-width: 1920px) {*/
/*	.titles4 {*/
/*		top: px;*/
/*font-size: .5rem;*/
/*}*/
/*.titles4 h2 {*/
/*	font-size: 2rem;*/
/*}*/
/*}*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003135}}
  #roomhireSection .titles4 {
    position: relative;
    top: 400px;
    overflow: none;
  }
}
@media (width: 320px) and (height: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003144}}
  .titles2 h2 {
    font-size: 1.75rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003148}}
  .titles3 {
    top: 270px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003151}}
  .titles3 h3 {
    font-size: 1.75rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003155}}
  .titles4 {
    top: 320px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003158}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 320px) and (height: 568px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003165}}
  .titles2 h2 {
    font-size: 2.0rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003168}}
  .titles3 {
    top: 310px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003172}}
  .titles3 h3 {
    font-size: 2.0rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003175}}
  .titles4 {
    top: 390px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003178}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 375px) and (height: 667px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003185}}
  .titles2 h2 {
    font-size: 2.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003189}}
  .titles3 {
    top: 390px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003193}}
  .titles4 {
    top: 450px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003196}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 414px) and (height: 736px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003203}}
  .titles2 h2 {
    font-size: 2.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003207}}
  .titles3 {
    top: 490px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003211}}
  .titles4 {
    top: 500px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003214}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 800px) and (height: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003221}}
  .titles2 h2 {
    font-size: 2.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003225}}
  .titles3 {
    top: 490px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003229}}
  .titles4 {
    top: 460px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003232}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 1024px) and (height: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003239}}
  .titles3 {
    top: 560px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003243}}
  .titles4 {
    top: 600px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003246}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 1366px) and (height: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003253}}
  .titles3 {
    top: 800px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003257}}
  .titles3 h3 {
    font-size: 3.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003260}}
  .titles2 h2 {
    font-size: 3.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003263}}
  .titles4 {
    top: 800px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003266}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media (width: 1920px) and (height: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003273}}
  .titles3 {
    top: 800px;
    font-size: medium;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003277}}
  .titles3 h3 {
    font-size: 4.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003280}}
  .titles2 h2 {
    font-size: 5.0rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003283}}
  .titles4 {
    top: 850px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\00003286}}
  .titles4 h2 {
    margin-top: -2px;
    margin-bottom: -10px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_anchors\.scss}line{font-family:\000031}}
a {
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  /*color: #6e0000;*/
  max-width: 150px;
  margin-top: -5px;
  margin-bottom: 5px;
}

@media (width: 1366px) and (height: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_anchors\.scss}line{font-family:\0000314}}
  .nav a {
    line-height: 50px;
    vertical-align: middle;
    font-size: 2.0rem;
    /* margin-top: 2px;*/
    margin-bottom: 5px;
    margin-top: -5px
    /* vertical-align: middle;*/
  }
}
@media (width: 800px) and (height: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_anchors\.scss}line{font-family:\0000326}}
  .nav a {
    display: block;
    /*   margin: -5px auto 5px auto;*/
    line-height: 50px;
    font-size: .85rem;
    margin-left: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_anchors\.scss}line{font-family:\0000333}}
  .navbar-right li {
    left: -10px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\000031}}
.section {
  min-height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000314}}
.margin1 {
  position: relative;
  bottom: 100px;
  left: 0;
}

@media only screen and (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000321}}
  .margin1 {
    margin-bottom: 100px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000326}}
.titles {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000330}}
.headline {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_subsect\.scss}line{font-family:\000031}}
.subsect {
  height: 25%;
  background-color: #000;
}

@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000032}}
  .col-sm-12 {
    margin-left: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000037}}
.row {
  height: auto;
  margin: auto;
  width: 100%;
  margin-top: 20px
  /*max-height: 100%;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000315}}
.container-fluid {
  max-width: 100%;
  max-height: auto;
  overflow-y: none;
  overflow-x: none;
  height: auto;
  width: 100%;
  background-color: #000;
  background-size: cover;
  /*margin: auto;*/
  overflow-y: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000328}}
.container {
  max-width: 100%;
  max-height: auto;
  overflow-y: none;
  overflow-x: none;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_footer\.scss}line{font-family:\000033}}
.footer {
  height: 50px;
  overflow: none;
  position: relative;
  /*position: fixed;*/
  color: #fff;
  text-align: center;
  left: auto;
  right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_drinksection\.scss}line{font-family:\000032}}
#drinkSection {
  background-size: cover;
  background-position: center center;
  background-image: url("../../app/assets/images/bandphoto1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_roomhiresection\.scss}line{font-family:\000032}}
#roomhireSection {
  height: auto;
  padding: 4px 8px;
  overflow: none;
  font-weight: 100;
  background-size: cover;
  background-position: center center;
  background-image: url("../../app/assets/images/function/eventroom1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_roomhiresection\.scss}line{font-family:\0000322}}
  #roomhireSection .titles4 {
    position: relative;
    top: 100px;
    overflow: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\000031}}
.headline {
  width: 100%;
  color: #fff;
  top: 50px;
  left: 15px;
  margin-bottom: 0;
  opacity: 1;
  border: 2px solid #fff;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000312}}
#peekSection {
  height: auto;
  margin-bottom: 60px;
  overflow-y: none;
  position: relative;
}

@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000320}}
  #peekSection {
    margin-bottom: 60px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000325}}
.wrapper {
  min-height: 100%;
  margin-bottom: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000330}}
#peekSection .titles {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\000031}}
.aboutText {
  font-size: 2.5rem;
  position: relative;
  max-width: 100%;
  padding: 20px;
  color: #fff;
  top: 70px;
  left: 3px;
  border: 2px solid #fff
  /*float:left;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000313}}
#aboutSection {
  overflow: none;
  position: relative;
  height: auto;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000320}}
#aboutSection p {
  font-size: 2.0rem;
  text-align: left;
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000326}}
  #aboutSection p {
    font-size: 3.0rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000331}}
#aboutSection .thumbnail {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000335}}
#aboutSection .titles {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\000031}}
iframe {
  display: block;
  margin: auto;
  margin-top: 70px;
  max-width: 98%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\000038}}
.find2 {
  border: 2px solid white;
}

@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000313}}
  .find2 {
    position: relative;
    left: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000317}}
  .find2 h3 {
    margin-left: -10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000320}}
  iframe {
    -webkit-margin-top: 150px;
    -moz-margin-top: 150px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000327}}
.find2 {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_kidssection\.scss}line{font-family:\000031}}
#kidsSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background: url("../../app/assets/images/food/kidsmeal1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_dessertsection\.scss}line{font-family:\000031}}
#dessertSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background: url("../../app/assets/images/food/dessert1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_baguettesection\.scss}line{font-family:\000031}}
#baguetteSection {
  min-height: 100%;
  min-width: 100%;
  text-shadow: 0px 1px 1px #000;
  background-size: cover;
  background-position: center center;
  background-image: url("../../app/assets/images/food/wrap1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_breakfastsection\.scss}line{font-family:\000031}}
#breakfastSection {
  background-size: cover;
  background-position: center center;
  background-image: url("../../app/assets/images/food/breakfast1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 100%;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_mainsection\.scss}line{font-family:\000031}}
#mainSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background: url("../../app/assets/images/food/fishnchips.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_startersection\.scss}line{font-family:\000031}}
#starterSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../images/starter1.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_burger\.scss}line{font-family:\000031}}
#burgerSection {
  min-height: 100%;
  min-width: 100%;
  text-shadow: 0px 1px 1px #000;
  background-size: cover;
  background-position: center center;
  background-image: url("../../app/assets/images/food/burgerpic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\000033}}
.menu-body {
  width: 700px;
  max-width: 90%;
  margin: 70px auto;
  display: block;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000312}}
.menu-section {
  margin-bottom: 50px;
  max-width: 100%;
  margin-top: -25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000318}}
.menu-section {
  margin-bottom: 50px;
  max-width: 100%;
  margin-top: -25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000323}}
.menu-section-title {
  top: 0px;
  font-family: georgia;
  font-size: 2.7em;
  display: block;
  font-weight: normal;
  margin: 120px 0 0 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000335}}
.menu-item {
  max-width: 98%;
  margin-bottom: 40px;
  margin-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000342}}
.menu-item-name {
  width: 100%;
  font-size: 1.5em;
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted #d5d5d5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000350}}
.menu-item-description {
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000357}}
.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -25px;
}

@media (min-width: 1366px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000365}}
  .menu-section-title {
    font-size: 6.0rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000368}}
  .menu-item-name {
    font-size: 3.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000371}}
  .menu-item-price {
    font-size: 2.5rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000374}}
  .menu-item-description {
    font-size: 3.0rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000031}}
.timing1 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000032}}
.timing2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000033}}
.timing3 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000034}}
.timing4 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000035}}
.timing5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000036}}
.timing6 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/*# sourceMappingURL=style.css.map */