@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\000036}}
html, body {
  height: 100%;
  width: 100%;
  outline: 0px;
  border: 0px;
  -webkit-transition: all 1s ease-in;
          transition: all 1s ease-in;
  background-color: #000;
  font-family: 'Amatic SC', cursive;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000318}}
h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  color: #fff;
  max-width: 100%;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/base\/_reset\.scss}line{font-family:\0000327}}
img {
  min-height: 100%;
  min-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
#bs.nav-nav-demo {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\000035}}
button.navbar-toggle.collapsed {
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\000039}}
.navbar-brand {
  margin-bottom: 15px;
  padding: 10px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000315}}
.nav-navbar-nav {
  position: fixed;
  width: 75%;
  height: 50px;
  color: #6e0000;
  text-align: center;
  background-color: #000;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000328}}
.navbar-inverse {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000332}}
.navbar-fixed-top {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000336}}
.navbar.navbar-inverse .nav {
  margin: auto;
  width: 85%;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000342}}
.navbar-header {
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000349}}
.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}

@media (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000363}}
  .nav {
    display: block;
    float: left;
    background-color: #000;
    margin-left: 0px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000373}}
  .navbar-brand {
    width: 50px;
    text-align: center;
    font-size: 12px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\0000379}}
  .nav {
    float: right !important;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003117}}
.collapse-navbar-collapse {
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003122}}
.navbar.navbar-inverse .nav > li {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 1;
  top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003133}}
.navbar-right {
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_navigation\.scss}line{font-family:\00003138}}
.navbar.navbar-inverse nav > li > a {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  text-align: center;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\000031}}
.carousel-pentland {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\000038}}
.carousel, .item, .active {
  height: 100%;
  width: 100%;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000314}}
.carousel-inner {
  min-width: 100%;
  height: 100%;
  margin-top: 0px;
  margin: auto;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000322}}
.carousel-indicators {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000327}}
.carousel .left.carousel-control .right.carousel-control {
  height: 100%;
}

/* fade on slider */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000331}}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000338}}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000341}}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000347}}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_carousel\.scss}line{font-family:\0000351}}
.carousel-fade .carousel-control {
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_thumbnail\.scss}line{font-family:\000031}}
.thumbnail {
  opacity: 0;
  position: relative;
  margin-top: 10px;
  max-width: 100%;
  padding-top: 0px;
  top: 60px;
  left: 5px;
  bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_thumbnail\.scss}line{font-family:\0000312}}
.thumbnail2 {
  opacity: 1;
  border: 3px solid #fff;
  position: relative;
  max-width: 100%;
  padding-top: 0px;
  float: right;
  top: 80px;
  background-color: #000;
  color: #fff;
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\000031}}
.titles {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000312}}
.titles2 {
  background-color: #fff;
  color: #000;
  width: 100%;
  position: relative;
  top: 70px;
  opacity: 0.70;
  padding: 5px;
  margin: 0 auto 20px auto;
  border: 2px solid #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000327}}
.titles3, .titles4 {
  background-color: #fff;
  color: #000;
  font-weight: 100;
  width: 100%;
  position: relative;
  top: 500px;
  opacity: 0.70;
  padding: 5px;
  margin: 0 auto 20px auto;
  border: 2px solid #fff;
}

@media only screen and (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000342}}
  .titles3 {
    top: 100px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000347}}
.titles4 {
  top: 600px;
}

@media only screen and (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_titles\.scss}line{font-family:\0000352}}
  .titles4 {
    top: 200px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/components\/_anchors\.scss}line{font-family:\000031}}
a {
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  max-width: 150px;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\000031}}
.section {
  min-height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000314}}
.margin1 {
  position: relative;
  bottom: 100px;
  left: 0;
}

@media only screen and (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000321}}
  .margin1 {
    margin-bottom: 100px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000326}}
.titles {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_mainpage\.scss}line{font-family:\0000330}}
.headline {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_subsect\.scss}line{font-family:\000031}}
.subsect {
  height: 25%;
  background-color: #000;
}

@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000032}}
  .col-sm-12 {
    margin-left: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000037}}
.row {
  margin: auto;
  width: 100%;
  max-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000314}}
.container-fluid {
  height: 100%;
  width: 100%;
  background-color: #000;
  background-size: cover;
  margin: auto;
  overflow-y: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000323}}
.container {
  max-width: 100%;
  height: auto;
  overflow-y: none;
  overflow-x: none;
  background-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/layout\/_footer\.scss}line{font-family:\000033}}
footer {
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  color: #fff;
  text-align: center;
  left: auto;
  right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_drinksection\.scss}line{font-family:\000032}}
#drinkSection {
  background-size: cover;
  background-image: url("../../app/assets/images/Bandphoto1.jpeg");
  height: auto;
  overflow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_drinksection\.scss}line{font-family:\0000310}}
#drinkSection h1 {
  background: #fff;
  color: #7f8c8d;
  bottom: -20px;
  left: 60px;
  width: 50%;
  position: relative;
  padding: 5px;
  margin: auto;
  margin-right: auto;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_drinksection\.scss}line{font-family:\0000323}}
#drinkSection img {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_roomhiresection\.scss}line{font-family:\000032}}
#roomhireSection {
  background-size: cover;
  background-image: url("../../app/assets/images/function/eventroom1.jpg");
  height: auto;
  padding: 4px 8px;
  overflow: none;
  font-weight: 100;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_roomhiresection\.scss}line{font-family:\0000316}}
  #roomhireSection h2 {
    position: relative;
    top: 400px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\000031}}
.headline {
  width: 100%;
  color: #fff;
  top: 50px;
  left: 15px;
  margin-bottom: 0;
  opacity: 1;
  border: 2px solid #fff;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000312}}
#peekSection {
  height: auto;
  margin-bottom: 60px;
  overflow: none;
  position: relative;
}

@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000320}}
  #peekSection {
    margin-bottom: 60px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000325}}
.wrapper {
  min-height: 100%;
  margin-bottom: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_peeksection\.scss}line{font-family:\0000330}}
#peekSection .titles {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\000031}}
.aboutText {
  font-size: 2rem;
  position: relative;
  max-width: 100%;
  padding: 20px;
  color: #fff;
  top: 70px;
  left: 3px;
  border: 2px solid #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000313}}
#aboutSection {
  height: auto;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000320}}
#aboutSection p {
  font-size: 2.5rem;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000325}}
#aboutSection .thumbnail {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_aboutsection\.scss}line{font-family:\0000329}}
#aboutSection .titles {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\000031}}
iframe {
  display: block;
  margin: auto;
  margin-top: 70px;
  max-width: 98%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\000038}}
.find2 {
  border: 2px solid white;
}

@media (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000313}}
  .find2 {
    position: relative;
    left: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000317}}
  .find2 h3 {
    margin-left: -10px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/indexpage\/_findsection\.scss}line{font-family:\0000323}}
.find2 {
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_kidssection\.scss}line{font-family:\000031}}
#kidsSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../../app/assets/images/food/kidsmeal1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_dessertsection\.scss}line{font-family:\000031}}
#dessertSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../../app/assets/images/food/dessert1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_baguettesection\.scss}line{font-family:\000031}}
#baguetteSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../../app/assets/images/food/wrap1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_breakfastsection\.scss}line{font-family:\000031}}
#breakfastSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../../app/assets/images/food/breakfast1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_mainsection\.scss}line{font-family:\000031}}
#mainSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../../app/assets/images/food/fishnchips.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_startersection\.scss}line{font-family:\000031}}
#starterSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_burger\.scss}line{font-family:\000031}}
#burgerSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../../app/assets/images/food/burgerpic.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\000033}}
.menu-body {
  width: 700px;
  max-width: 90%;
  margin: 70px auto;
  display: block;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000312}}
.menu-section {
  margin-bottom: 50px;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000317}}
.menu-section-title {
  top: 0px;
  font-family: georgia;
  font-size: 3.0em;
  display: block;
  font-weight: normal;
  margin: 120px 0 0 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000329}}
.menu-item {
  max-width: 98%;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000336}}
.menu-item-name {
  width: 100%;
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted #d5d5d5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000343}}
.menu-item-description {
  font-style: italic;
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/pages\/menupage\/_menublocks\.scss}line{font-family:\0000350}}
.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000031}}
.timing1 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000032}}
.timing2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000033}}
.timing3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000034}}
.timing4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000035}}
.timing5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Sites\/pentland-roadhouse\/public_html\/app\/assets\/sass\/animation\/_animation\.scss}line{font-family:\000036}}
.timing6 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

/*# sourceMappingURL=style.css.map */