.timing1 {-webkit-animation-delay: .5s;animation-delay: .5s;}
.timing2 {-webkit-animation-delay: 1s;animation-delay: 1s;}
.timing3 {-webkit-animation-delay: 1.5s;animation-delay: 1.5s;}
.timing4 {-webkit-animation-delay: 2s;animation-delay: 2s;}
.timing5 {-webkit-animation-delay: 2.5s;animation-delay: 2.5s;}
.timing6 {-webkit-animation-delay: 3s;animation-delay: 3s;}
