@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\000031}}
* {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\000035}}
html, body {
  height: 100%;
  width: 100%;
  outline: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000318}}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
  color: #fff;
  max-width: 90%;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000325}}
p {
  font-size: 2em;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000330}}
.nav-navbar-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  color: #6e0000;
  text-align: center;
  background-color: rgba(110, 0, 0, 0.5);
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000344}}
  .navbar.navbar-inverse .nav {
    margin: auto;
    display: flex;
    width: 100%;
    float: right;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000352}}
.navbar-header {
  max-width: 100%;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000357}}
.navbar.navbar-inverse .nav > li {
  max-width: 100%;
  float: left;
  display: flex;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000367}}
.navbar.navbar-inverse nav > li > a {
  max-width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000374}}
a {
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  color: #6e0000;
  max-width: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000384}}
.carousel-pentland {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\0000390}}
.section {
  min-height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003103}}
.subsect {
  position: relative;
  height: 50%;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003109}}
.thumbnail {
  opacity: 0;
  margin-top: 70px;
  position: relative;
  background-color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003116}}
img.animated {
  border: 20px solid;
  border-color: #6e0000;
  background-color: black;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003127}}
.timing1 {
  animation-delay: .5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003128}}
.timing2 {
  animation-delay: 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003129}}
.timing3 {
  animation-delay: 1.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003130}}
.timing4 {
  animation-delay: 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003132}}
.sect5 {
  top: 20%;
  opacity: 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003149}}
.sect1 {
  width: 100%;
  background-image: url("../img/Pentland3.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003154}}
.sect2 {
  width: 100%;
  top: 0;
  margin: auto;
  background-color: darkgrey;
  background-image: url("../IMG/Fishnchips.PNG");
  background-size: cover;
  background-position: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003169}}
#foodSection {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003198}}
iframe {
  display: block;
  margin: auto;
  margin-top: 70px;
  max-width: 98%;
}

/*#thumb4{
margin-right: 10%;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003208}}
#dessertSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../IMG/dessert1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003222}}
#sandwichSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../IMG/wrap1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003235}}
#kidsSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../IMG/kidsmeal1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003248}}
#starterSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003261}}
#breakfastSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../IMG/breakfast1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003274}}
#mainSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../IMG/fishnchips.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003285}}
#burgerSection {
  /*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
  background-image: url("../IMG/burgerpic.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  text-shadow: 0px 1px 1px #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003300}}
.sect4 {
  background-image: url("https://unsplash.com/search/beer?photo=UErWoQEoMrc");
  background-image: url("../IMg/pentland1.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003306}}
.carousel, .item, .active {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003310}}
.carousel-inner {
  width: 100%;
  height: 100%;
  max-height: 768px !important;
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003319}}
.container-fluid {
  height: 100%;
  background-color: black;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003327}}
.subsect {
  height: 50%;
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003333}}
.carousel .left.carousel-control .right.carousel-control {
  height: 100%;
}

/* fade on slider */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003337}}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003344}}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003347}}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003353}}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003357}}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*Large desktops and laptops*/
/*Landscape tablets and medium desktops*/
/* Portrait tablets and small desktops*/
/*Landscape phones and portrait tablets*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003398}}
#menu1 {
  background: url("../img/starter1.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003407}}
#section {
  background-color: black;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003416}}
.menu-body {
  width: 700px;
  max-width: 90%;
  margin: 70px auto;
  display: block;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003425}}
.menu-section {
  margin-bottom: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003430}}
.menu-section-title {
  top: 50px;
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: Center;
  max-width: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003441}}
.menu-item {
  max-width: 98%;
  margin: 35px 0;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003447}}
.menu-item-name {
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted #d5d5d5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003453}}
.menu-item-description {
  font-style: italic;
  font-size: 1em;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micahhayden\/Desktop\/Pentland\%20Roadhouse\/Sass\/Pentland\.scss}line{font-family:\00003459}}
.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -25px;
}

/*# sourceMappingURL=Pentland.css.map */
