* {
	margin: 0;
}

html, body {
	height: 100%;
	width:100%;
	outline:0px;
	border:0px;
	padding:0px;
//	transition: all 1s ease-in;
	//background-color: black;
	font-family: 'Amatic SC', cursive;
	font-family: 'Quicksand', sans-serif;
	background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
	color: #fff;
	max-width: 90%;
	text-shadow: 0px 1px 1px #000;
}

p {
	font-size: 2em;
	opacity: 1;
}

.nav-navbar-nav {
position: fixed;
width: 100%;
height:50px;
color: rgb(110,0,0);
text-align: center;
background-color: rgba(110,0,0,.5);
z-index: 99;
margin-left: auto;
margin-right: auto;
float: none;
}

@media (min-width: 767px) {
	.navbar.navbar-inverse .nav {
		margin: auto;
		display: flex;
		width: 100%;
		float: right;
	}
}

.navbar-header {
 max-width: 100%;
 text-align: center;

}
.navbar.navbar-inverse .nav > li {
	max-width: 100%;
	float: left;
	display: flex;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
}

.navbar.navbar-inverse nav > li > a {
	max-width: 100%;
	text-align: center;
	margin: auto;
	display: flex;
}

a {
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	background-color: black;
	color: rgb(110,0,0);
	max-width: 150px;
}

.carousel-pentland {
	width: 100%;
	height:100%;
	background-size: cover;
}

.section {
	min-height: 100%;
	width:100%;
	margin: 0 auto 0 auto;
	position: relative;
	//background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: none;
}

.subsect {
	position: relative;
	height: 50%;
	background-color: white;
}

.thumbnail {
	opacity: 0;
	margin-top: 70px;
	position: relative;
	background-color: red;
}

img.animated {
	border: 20px solid;
	border-color: rgb(110, 0, 0);
	background-color: black;
	background-size: cover;
}

//img {
	//border: 5px solid red;
//}

.timing1 {animation-delay: .5s;}
.timing2 {animation-delay: 1s;}
.timing3 {animation-delay: 1.5s;}
.timing4 {animation-delay: 2s;}

.sect5 {
	top: 20%;
	opacity: 0;
	position: relative;
}

//.container {
//	overflow-y: none;
	//background-color: black;
////.row{
//	width:100%;
//	height: 100%;
//	margin: 0 auto 0 auto;
//	right: 20%;
	//background-color: black;
//}

.sect1 {
	width: 100%;
	background-image: url("../img/Pentland3.png");
}

.sect2 {
	//margin: 1em 0;
	//margin-left: auto;
	width:100%;
	top: 0;
	margin:auto;
	background-color: darkgrey;
	background-image: url("../IMG/Fishnchips.PNG");
	background-size: cover;
	background-position:right;

}



#foodSection {
//	width: 100%;
background-color: black;
//	background-size: cover;
//	background-position: center;
}

//p#scroll_position_info {
//	position: fixed;
//	top:60%;
//	left: 40%;
//}

//.animated {
//	width: 100%;
//}

//#thumbs1, #thumbs2, #thumbs3, #thumbs4 {
//	margin: auto;
//	top: 100px;
//	border: 10px solid black;
//	height: 266px;
//	width: 266px;

//	position: relative;
//	-webkit-animation-duration: 3s;
//	opacity: 1;
//}

iframe {
	display: block;
	margin: auto;
	margin-top: 70px;
	max-width: 98%;
}

/*#thumb4{
margin-right: 10%;
}*/
#dessertSection{

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../IMG/dessert1.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;

}

#sandwichSection{

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../IMG/wrap1.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;

}

#kidsSection{

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../IMG/kidsmeal1.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;
}

#starterSection {

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	//background-image: url("../IMG/starter1.png");
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	text-shadow: 0px 1px 1px #000;
}

#breakfastSection{

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../IMG/breakfast1.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;
}

#mainSection {

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../IMG/fishnchips.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;
}
#burgerSection{

	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../IMG/burgerpic.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;

}


.sect4 {
background-image: url("https://unsplash.com/search/beer?photo=UErWoQEoMrc");
background-image: url("../IMg/pentland1.png")
}

//this below is imported from pentlandcarousel.css
.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	width: 100%;
	height: 100%;
	max-height: 768px !important;
	margin-top: 0px;	
}



.container-fluid {
	height: 100%;
	background-color: black;
	background-size: cover;
	margin-left: 0;
	margin-right: 0;
}

.subsect {
	height: 50%;
	background-color: black;
}


.carousel .left.carousel-control .right.carousel-control {
	height: 100%;
}
/* fade on slider */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}


/*Large desktops and laptops*/
//@media (min-width: 1200px) {

//}

/*Landscape tablets and medium desktops*/
//@media (min-width 992px) and (max-width:1199px) {

//}

/* Portrait tablets and small desktops*/
//@media (min-width: 768px) and (max-width: 991px){

//}

/*Landscape phones and portrait tablets*/
//@media (max-width: 767px){

//
//@media (max-width: 480px){

//}



//.carousel-caption h3:first-child {
//	animation delay: 1s;
	//font-size: 50px;

//	}

//.carousel-caption h3:nth-child(2) {
//	animation-delay: 2s;

//}
//
#menu1 {
  background: url("../img/starter1.png");
  background-size: cover;
  background-position: center;
	height: 100%;
	width: 100%;
	position: absolute;
}

#section {
	background-color: rgb(0,0,0);
	opacity: 0.7;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.menu-body {
  width: 700px;
	max-width: 90%;
  margin: 70px auto;
  display: block;
  //color: rgb(92, 92, 92);
	color: #fff;
}

.menu-section {
  margin-bottom: 80px;
	//max-width: 90%;
}

.menu-section-title {
	top: 50px;
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
	max-width: 90%;
}

.menu-item {
	max-width: 98%;
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name {
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: 1em;
  line-height: 1.5em;
}

.menu-item-price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -25px;
}
