@media (max-width: 500px) {
 	.col-sm-12 {
		margin-left: 20px;
	}
}

 .row {
   height: auto;
	 margin: auto;
	 width: 100%;
	 margin-top: 20px;
	 //max-height: 100%;
 }

.container-fluid {
	height: auto;
  width: 100%;
	background-color: $black;
	background-size: cover;
	//margin: auto;
	overflow-y: none;
}

.container {
  max-width: 100%;
  max-height: auto;
  overflow-y: none;
  overflow-x: none;
  background-color: $black;
}
