.section {
	min-height: 100%;
	width:100%;
	margin: 0 auto 0 auto;
	position: relative;
	background-color: $black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	overflow: none;
	@include atLarge {
		background-attachment: fixed;
	}
}

.margin1 {
  position: relative;
  bottom: 100px;
  left: 0;
}

@media only screen and (max-width: 500px) {
    .margin1 {
        margin-bottom: 100px;
    }
}

.titles {
	opacity: 0;
}

.headline {
	opacity: 0;
}
