#kidsSection{
	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background-image: url("../assets/images/food/kidsmeal1.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;
}
