.aboutText {
	font-size: 1rem;
	position: relative;
	max-width: 100%;
	padding: 20px;
	color: $white;
	top: 70px;
	left: 3px;
	border: 2px solid $white;
	//float:left;
}

#aboutSection {
	overflow: none;
	position: relative;
	height: auto;
	width: 100%;
}

#aboutSection p {
	font-size: 2.0rem;
	text-align: left;
}

#aboutSection .thumbnail {
	opacity: 0;
}

#aboutSection .titles {
	opacity: 0;
}
