
#drinkSection {
	background-size: cover;
	/*position: relative;*/
	background-image: url("../../app/assets/images/bandphoto1.jpeg");
	-moz-height: auto;
	height: auto;
	overflow: none;
}

#drinkSection h2 {
	font-size: 2.5rem;
	//background: $white;
	//color: #7f8c8d;
	//bottom: -20px;
	//left: 60px;
	//width: 50%;
	//position: relative;
//	padding: 5px;
//	margin:auto;
	//margin-right: auto;
	//float:left;
}
