
#drinkSection {
	background-size: cover;
	/*position: relative;*/
	background-image: url("../../app/assets/images/bandphoto1.jpeg");
	-moz-height: auto;
	height: auto;
	overflow: none;
	position: relative;
}
