
#drinkSection {
	height: auto;
	background-image: url("../../app/assets/images/bandphoto1.jpeg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	//position: relative;

}
