.headline {
	width: 100%;
	color: $white;
	top: 40px;
	//left: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	opacity: 1;
	border: 2px solid $white;
	padding: 5px;
}

#peekSection {
	height: auto;
	margin-bottom: 60px;
	overflow-y: none;
	position: relative;
}

@media (max-width: 500px) {
 	#peekSection {
		margin-bottom: 60px;
	}
}

.wrapper {
	min-height: 100%;
	margin-bottom: 50px;
}

#peekSection .titles {
	opacity: 0;
}
