
#roomhireSection {
	height: auto;
	padding: 4px 8px;
	overflow: none;
	font-weight: 100;
	background-image: url("../../app/assets/images/function/eventroom1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media only screen
	and (min-device-width : 768px)
	and (max-device-width:1024px)
	and (-webkit-min-device-pixel-ratio:1) {

 	#roomhireSection .titles4 {
		position: relative;
	 	top: 630px;
		overflow: none;
 	}
}
