.section {
	min-height: 100%;
	width:100%;
	margin: 0 auto 0 auto;
	position: relative;
	background-color: $black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: none;
}

.margin1 {
  position: relative;
  bottom: 100px;
  left: 0;
}

@media only screen and (max-width: 500px) {
    .margin1 {
        margin-bottom: 100px;
    }
}
