.aboutText {
	position:relative;
	max-width: 100%;
	padding: 20px;
	color: white;
	top: 70px;
	left: 3px;
	border: 2px solid white;
	//margin-bottom: 70px;
}

#aboutSection {
	//float: none;
	height: auto;
	width: 100%;
}
