
#roomhireSection {
	height: auto;
	background-image: url("../assets/images/function/Event-Room1.jpg");
	background-size: cover;
	padding: 4px 8px;
	overflow: none;
	font-weight: 100;
}

@media only screen
	and (min-device-width : 768px)
	and (max-device-width:1024px)
	and (-webkit-min-device-pixel-ratio:1) {

 	#roomhireSection h2 {
		position: relative;
	 	top: 400px;
 	}
}
