
#roomhireSection {
	height: auto;
	background-image: url("../assets/images/function/Event-Room1.jpg");
	background-size: cover;
	padding: 4px 8px;
	color: $white;
	overflow: none;
}
 #roomhireSection .titles2 {
	 position: relative;
	 top: 90%;
	 font-weight: 100;
 }
