#baguetteSection{
	height: auto;
	text-shadow: 0px 1px 1px $black;
	background-image: url("../../app/assets/images/food/wrap1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
