#breakfastSection {
	background-size: cover;
	background-position: center center;
	background-image: url("../../app/assets/images/food/breakfast1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
	min-width: 100%;
	text-shadow: 0px 1px 1px $black;
}
