#dessertSection {
	height:auto;
	background: url("../../app/assets/images/food/dessert1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	text-shadow: 0px 1px 1px $black;
}
