#dessertSection {
	/*background-image: url("https://unsplash.com/search/music?photo=wzj86-5JVcM");*/
	background: url("../../app/assets/images/food/dessert1.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	background-attachment: fixed;
	text-shadow: 0px 1px 1px #000;
}
